---
apiVersion: v1
kind: Namespace
metadata:
  name: JENKINS_NAMESPACE
  labels:
    app.kubernetes.io/name: bedetheque-scraper
    app.kubernetes.io/part-of: comix
    app.kubernetes.io/managed-by: jenkins
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: bedetheque-scraper-nfs-pv
  labels:
    app.kubernetes.io/name: bedetheque-scraper
    app.kubernetes.io/version: "BUILD_NUMBER"
    app.kubernetes.io/component: volume
    app.kubernetes.io/part-of: comix
    app.kubernetes.io/managed-by: Jenkins
    env: JENKINS_COMIX_ENV
spec:
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
  nfs:
    path: "/mnt/nfs_share"
    server: "192.168.130.19"
    readOnly: false
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  namespace: JENKINS_NAMESPACE
  name: bedetheque-scraper-nfs-pvc
  labels:
    app.kubernetes.io/name: bedetheque-scraper
    app.kubernetes.io/version: "BUILD_NUMBER"
    app.kubernetes.io/component: pvc
    app.kubernetes.io/part-of: comix
    app.kubernetes.io/managed-by: Jenkins
    env: JENKINS_COMIX_ENV
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: JENKINS_NAMESPACE
  name: bedetheque-scraper
  labels:
    app.kubernetes.io/name: bedetheque-scraper
    app.kubernetes.io/instance: bedetheque-scraper-abcxyz
    app.kubernetes.io/version: "JENKINS_BUILD_NUMBER"
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: comix
    app.kubernetes.io/managed-by: jenkins
    env: JENKINS_COMIX_ENV
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: bedetheque-scraper
      app.kubernetes.io/component: server
      app.kubernetes.io/part-of: comix
      app.kubernetes.io/managed-by: jenkins
      env: JENKINS_COMIX_ENV
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bedetheque-scraper
        app.kubernetes.io/version: "JENKINS_BUILD_NUMBER"
        app.kubernetes.io/component: server
        app.kubernetes.io/part-of: comix
        app.kubernetes.io/managed-by: jenkins
        env: JENKINS_COMIX_ENV
    spec:
      dnsConfig:
        options:
          # Réduit le seuil de 'ndots' à 2.
          # Ainsi, un nom comme 'nexus.home.lab' (2 points) sera traité
          # immédiatement comme un nom de domaine complet (FQDN),
          # évitant les recherches inutiles dans les domaines du cluster.
          - name: ndots
            value: "2"
      hostAliases:
        - ip: "JENKINS_DNS_IP"
          hostnames:
            - "JENKINS_DNS_HOSTNAME"
        - ip: "JENKINS_DB_IP"
          hostnames:
            - "JENKINS_DB_HOSTNAME"
        - ip: "JENKINS_RABBITMQ_IP"
          hostnames:
            - "JENKINS_RABBITMQ_HOSTNAME"
        - ip: "JENKINS_LOGSTASH_IP"
          hostnames:
            - "JENKINS_LOGSTASH_HOSTNAME"
      volumes:
        - name: nfs-storage
          persistentVolumeClaim:
            claimName: bedetheque-scraper-nfs-pvc
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36
          # Attend que le serveur PostgreSQL soit joignable sur son port
          command: ['sh', '-c', "echo 'Waiting for PostgreSQL...' && until nc -z -w 2 JENKINS_DB_HOSTNAME:JENKINS_DB_PORT; do echo '...'; sleep 2; done && echo 'PostgreSQL is ready!'"]
          envFrom:
            - configMapRef:
                name: bedetheque-manager-config
        - name: wait-for-rabbitmq
          image: busybox:1.36
          # Attend que le serveur Rabbit MQ soit joignable sur son port
          command: ['sh', '-c', "echo 'Waiting for RabbitMQ...' && until nc -z -w 2 JENKINS_RABBITMQ_HOSTNAME:JENKINS_RABBITMQ_PORT; do echo '...'; sleep 2; done && echo 'RabbitMQ is ready!'"]
          envFrom:
            - configMapRef:
                name: bedetheque-manager-config
        - name: wait-for-logstash
          image: busybox:1.36
          # Attend que le serveur Logstash soit joignable sur son port
          command: ['sh', '-c', "echo 'Waiting for Logstash...' && until nc -z -w 2 JENKINS_LOGSTASH_HOSTNAME:JENKINS_LOGSTASH_PORT; do echo '...'; sleep 2; done && echo 'Logstash is ready!'"]
          envFrom:
            - configMapRef:
                name: bedetheque-manager-config
        - name: wait-for-discovery-server
          # Image légère contenant des outils réseau
          image: busybox:1.36
          # La commande attend que le service 'discovery-server-service' soit joignable sur son port.
          # Elle utilise le nom de service interne de Kubernetes.
          # Le -w 2 ajoute un timeout de 2 secondes pour chaque tentative.
          command: ['sh', '-c', "echo 'Waiting for config-server...' && until nc -z -w 2 JENKINS_COMIX_DISCOVERY_SERVER_URL; do echo '...'; sleep 2; done && echo 'Discovery-server is ready!'"]
          envFrom:
            - configMapRef:
                name: bedetheque-scraper-config
          env:
            # Downward API: Injecte l'IP du Pod dans une variable d'environnement
            - name: EUREKA_INSTANCE_IP_ADDRESS
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
      containers:
        - name: bedetheque-scraper
          image: NEXUS_DOCKER_REPOSITORY/comix-bedetheque-scraper-POM_VERSION:JENKINS_BUILD_NUMBER
          imagePullPolicy: IfNotPresent
          command:
            - "java"
          args:
            - "-jar"
            - "/opt/app/app.jar"
          resources:
            limits:
              cpu: "2"
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 1Gi
          ports:
            - containerPort: JENKINS_COMIX_BEDETHEQUE_SCRAPER_PORT
          envFrom:
            - configMapRef:
                name: bedetheque-scraper-config
          volumeMounts:
            - name: nfs-storage
              mountPath: /mnt/nfs_share
      imagePullSecrets:
        - name: nexus-docker
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bedetheque-scraper-config
  namespace: JENKINS_NAMESPACE
  labels:
    app.kubernetes.io/name: bedetheque-scraper-config
    app.kubernetes.io/instance: bedetheque-scraper-config-abcxyz
    app.kubernetes.io/version: "JENKINS_BUILD_NUMBER"
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: comix
    app.kubernetes.io/managed-by: jenkins
    env: JENKINS_COMIX_ENV
data:
  SPRING_PROFILES_ACTIVE: "JENKINS_COMIX_ENV"
  SPRING_CLOUD_CONFIG_URI: "JENKINS_COMIX_CONFIG_SERVER_URL:JENKINS_COMIX_CONFIG_SERVER_PORT"
  
  COMIX_DISCOVERY_SERVER_URL: "JENKINS_COMIX_DISCOVERY_SERVER_URL"
  COMIX_BEDETHEQUE_SCRAPER_PORT: "JENKINS_COMIX_BEDETHEQUE_SCRAPER_PORT"
  LOGSTASH_URL: "JENKINS_LOGSTASH_URL"
  LOGSTASH_PORT: "JENKINS_COMIX_LOGSTASH_PORT"
  BEDETHEQUE_SCRAPER_DB_USERNAME: "JENKINS_COMIX_BEDETHEQUE_SCRAPER_DB_USERNAME"
  BEDETHEQUE_SCRAPER_DB_PASSWORD: "JENKINS_COMIX_BEDETHEQUE_SCRAPER_DB_PASSWORD"
  LIQUIBASE_LIQUIBASE_SCHEMA_NAME: "bedetheque_scraper"
  # Indique à Eureka d'utiliser l'IP fournie par la variable d'environnement
  EUREKA_INSTANCE_PREFER_IP_ADDRESS: "true"
  
  BEDETHEQUE_SCRAPER_CACHE_ACTIVE: "true"
  BEDETHEQUE_SCRAPER_SHARED_STORAGE_PATH: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias"
  BEDETHEQUE_SCRAPER_MEDIAS_URL_PATTERN: "/api/bedetheque-scraper/medias/**"
  BEDETHEQUE_SCRAPER_DOWNLOADS_RATINGS_AVATARS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/ratings/avatar/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_AUTHORS_PHOTO_THUMBS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/authors/photo/thumbs/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_AUTHORS_PHOTO_HD: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/authors/photo/hd/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_FRONT_THUMBS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/graphic-novels/cover-front/thumbs/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_FRONT_HD: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/graphic-novels/cover-front/hd/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_BACK_THUMBS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/graphic-novels/cover-back/thumbs/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_BACK_HD: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/graphic-novels/cover-back/hd/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_PAGE_EXAMPLE_THUMBS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/graphic-novels/page-example/thumbs/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_PAGE_EXAMPLE_HD: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/graphic-novels/page-example/hd/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_COVER_FRONT_THUMBS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/series/cover-front/thumbs/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_PAGE_EXAMPLE_THUMBS: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/series/page-example/thumbs/"
  BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_PAGE_EXAMPLE_HD: "/mnt/nfs_share/comix/JENKINS_COMIX_ENV/medias/bedetheque/series/page-example/hd/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_AUTHORS_PHOTO_HD: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/authors/photo/hd/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_AUTHORS_PHOTO_THUMBS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/authors/photo/thumbs/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_DEFAULT_UNAVAILABLE: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/images/na.png"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_BACK_HD: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/graphic-novels/cover-back/hd/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_BACK_THUMBS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/graphic-novels/cover-back/thumbs/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_FRONT_HD: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/graphic-novels/cover-front/hd/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_FRONT_THUMBS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/graphic-novels/cover-front/thumbs/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_PAGE_EXAMPLE_HD: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/graphic-novels/page-example/hd/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_PAGE_EXAMPLE_THUMBS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/graphic-novels/page-example/thumbs/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_RATINGS_AVATARS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/ratings/avatar/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_SERIES_COVER_FRONT_THUMBS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/series/cover-front/thumbs/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_SERIES_PAGE_EXAMPLE_HD: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/series/page-example/hd/"
  BEDETHEQUE_SCRAPER_HTTP_MEDIAS_SERIES_PAGE_EXAMPLE_THUMBS: "http://comix-gateway-server-stage.home.lab/api/bedetheque-scraper/medias/bedetheque/series/page-example/thumbs/"

  # --- Configuration RabbitMQ ---
  SPRING_RABBITMQ_USERNAME: "JENKINS_SPRING_RABBITMQ_USERNAME"
  SPRING_RABBITMQ_PASSWORD: "JENKINS_SPRING_RABBITMQ_PASSWORD"

  BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_ENABLED: "true"
