spring:
  application:
    name: comix-bedetheque-scraper-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,busrefresh,liveness,readiness
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

  tracing:
    sampling:
      probability: 1.0 # En production, vous pourriez vouloir une valeur plus basse comme 0.1

application:
  downloads:
    localcache:
      active: ${BEDETHEQUE_SCRAPER_CACHE_ACTIVE:false}
  maven:
    version: '@project.version@'

---
spring.config.activate.on-profile: "dev-docker-hybrid"
spring:
  config:
    import: "optional:configserver:http://localhost:18888"
---
spring.config.activate.on-profile: "int"
spring:
  config:
    import: "optional:configserver:http://comix-config-server:18888"
---
spring.config.activate.on-profile: "stage"
spring:
  config:
    import: optional:configserver:http://${SPRING_CLOUD_CONFIG_URI}
---
spring.config.activate.on-profile: "prod"
spring:
  config:
    import: optional:configserver:http://${SPRING_CLOUD_CONFIG_URI}