spring:
  application:
    name: comix-bedetheque-scraper-service
  jackson:
    default-property-inclusion: non_null
  mustache:
    check-template-location: false
  rabbitmq:
    host: ${BEDETHEQUE_SCRAPER_RABBITMQ_HOST:localhost}
    port: ${BEDETHEQUE_SCRAPER_RABBITMQ_PORT:5672}
    username: ${BEDETHEQUE_SCRAPER_RABBITMQ_USERNAME:dev}
    password: ${BEDETHEQUE_SCRAPER_RABBITMQ_PASSWORD:dev}
  datasource:
    url: ${BEDETHEQUE_SCRAPER_DB_URL:jdbc:postgresql://localhost:5432/comix?currentSchema=bedetheque_scraper}
    username: ${BEDETHEQUE_SCRAPER_DB_USERNAME:dev}
    password: ${BEDETHEQUE_SCRAPER_DB_PASSWORD:dev}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  liquibase:
    change-log: classpath:db/master.xml
    enabled: ${BEDETHEQUE_SCRAPER_LIQUIBASE_ENABLED:true}
    default-schema: ${BEDETHEQUE_SCRAPER_LIQUIBASE_SCHEMA:bedetheque_scraper}
amqp:
  queue:
    author:
      name: ${AMQP_QUEUE_AUTHOR_NAME:comix.author.synchronize}
    comicBook:
      name: ${AMQP_QUEUE_COMIC_NAME:comix.comic-book.synchronize}
    serie:
      name: ${AMQP_QUEUE_SERIE_NAME:comix.serie.synchronize}
  exchange:
    author:
      name: ${AMQP_EXCHANGE_AUTHOR_NAME:comix.author.exchange}
    comicBook:
      name: ${AMQP_EXCHANGE_COMIC_NAME:comix.comic-book.exchange}
    serie:
      name: ${AMQP_EXCHANGE_SERIE_NAME:comix.serie.exchange}
producer:
  retry:
    max-attempts: ${BEDETHEQUE_SCRAPER_MAX_ATTEMPTS:3}
    initial-interval: ${BEDETHEQUE_SCRAPER_INITIAL_INTERVAL:500}
    max-interval: ${BEDETHEQUE_SCRAPER_MAX_INTERVAL:10000}
    multiplier: ${BEDETHEQUE_SCRAPER_MULTIPLIER:2.0}
outbox:
  publisher:
    fixed-delay: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_FIXED_DELAY:10000}
    lock-at-least-for: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_LOCK_AT_LEAST_FOR:PT5S}
    lock-at-most-for: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_LOCK_AT_MOST_FOR:PT5S}
    enabled: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_ENABLED:true}

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,busrefresh,liveness,readiness
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

application:
  downloads:
    localcache:
      active: ${BEDETHEQUE_SCRAPER_CACHE_ACTIVE:false}
  maven:
    version: '@project.version@'

---
spring.config.activate.on-profile: "dev-docker-hybrid"
spring:
  config:
    import: "optional:configserver:http://localhost:18888"
---
spring.config.activate.on-profile: "int"
spring:
  config:
    import: "optional:configserver:http://comix-config-server:18888"
---
spring.config.activate.on-profile: "stage"
spring:
  config:
    import: optional:configserver:http://${SPRING_CLOUD_CONFIG_URI}
---
spring.config.activate.on-profile: "prod"
spring:
  config:
    import: optional:configserver:http://${SPRING_CLOUD_CONFIG_URI}