spring:
  cloud:
    config:
      enabled: false
  jackson:
    default-property-inclusion: non_null
  mustache:
    check-template-location: false
  rabbitmq:
    host: ${BEDETHEQUE_SCRAPER_RABBITMQ_HOST:localhost}
    port: ${BEDETHEQUE_SCRAPER_RABBITMQ_PORT:5673}
    username: ${BEDETHEQUE_SCRAPER_RABBITMQ_USERNAME:dev}
    password: ${BEDETHEQUE_SCRAPER_RABBITMQ_PASSWORD:dev}
  datasource:
    url: ${BEDETHEQUE_SCRAPER_DB_URL:jdbc:postgresql://localhost:5433/comix?currentSchema=bedetheque_scraper}
    username: ${BEDETHEQUE_SCRAPER_DB_USERNAME:dev}
    password: ${BEDETHEQUE_SCRAPER_DB_PASSWORD:dev}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  liquibase:
    change-log: classpath:db/master.xml
    enabled: ${BEDETHEQUE_SCRAPER_LIQUIBASE_ENABLED:true}
    default-schema: ${BEDETHEQUE_SCRAPER_LIQUIBASE_SCHEMA:bedetheque_scraper}
amqp:
  queue:
    author:
      name: ${AMQP_QUEUE_AUTHOR_NAME:comix.author.synchronize}
      dlq:
        name: ${AMQP_QUEUE_AUTHOR_DLQ_NAME:comix.author.synchronize.dlq}
      retry:
        name: ${AMQP_QUEUE_AUTHOR_RETRY_NAME:comix.author.synchronize.retry.dlq}
        ttl: ${AMQP_QUEUE_AUTHOR_RETRY_TTL:10000}
    comic-book:
      name: ${AMQP_QUEUE_COMIC_NAME:comix.comic-book.synchronize}
      dlq:
        name: ${AMQP_QUEUE_COMIC_DLQ_NAME:comix.comic-book.synchronize.dlq}
      retry:
        name: ${AMQP_QUEUE_COMIC_RETRY_NAME:comix.comic-book.synchronize.retry.dlq}
        ttl: ${AMQP_QUEUE_COMIC_RETRY_TTL:10000}
    serie:
      name: ${AMQP_QUEUE_SERIE_NAME:comix.serie.synchronize}
      dlq:
        name: ${AMQP_QUEUE_SERIE_DLQ_NAME:comix.serie.synchronize.dlq}
      retry:
        name: ${AMQP_QUEUE_SERIE_RETRY_NAME:comix.serie.synchronize.retry.dlq}
        ttl: ${AMQP_QUEUE_SERIE_RETRY_TTL:10000}
  exchange:
    author:
      name: ${AMQP_EXCHANGE_AUTHOR_NAME:comix.author.exchange}
      dlx:
        name: ${AMQP_EXCHANGE_AUTHOR_DLX_NAME:comix.author.synchronize.dlx}
      retry:
        name: ${AMQP_EXCHANGE_AUTHOR_RETRY_NAME:comix.author.synchronize.retry.dlx}
    comic-book:
      name: ${AMQP_EXCHANGE_COMIC_NAME:comix.comic-book.exchange}
      dlx:
        name: ${AMQP_EXCHANGE_COMIC_DLX_NAME:comix.author.synchronize.dlx}
      retry:
        name: ${AMQP_EXCHANGE_COMIC_RETRY_NAME:comix.author.synchronize.retry.dlx}
    serie:
      name: ${AMQP_EXCHANGE_SERIE_NAME:comix.serie.exchange}
      dlx:
        name: ${AMQP_EXCHANGE_SERIE_DLX_NAME:comix.serie.synchronize.dlx}
      retry:
        name: ${AMQP_EXCHANGE_SERIE_RETRY_NAME:comix.serie.synchronize.retry.dlx}
producer:
  retry:
    max-attempts: ${BEDETHEQUE_SCRAPER_MAX_ATTEMPTS:3}
    initial-interval: ${BEDETHEQUE_SCRAPER_INITIAL_INTERVAL:500}
    max-interval: ${BEDETHEQUE_SCRAPER_MAX_INTERVAL:10000}
    multiplier: ${BEDETHEQUE_SCRAPER_MULTIPLIER:2.0}
outbox:
  publisher:
    fixed-delay: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_FIXED_DELAY:10000}
    lock-at-least-for: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_LOCK_AT_LEAST_FOR:PT5S}
    lock-at-most-for: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_LOCK_AT_MOST_FOR:PT5S}
    enabled: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_ENABLED:true}
  main:
    banner-mode: log

eureka:
  client:
    enabled: false
application:
  downloads:
    localcache:
      active: true
      basepath: '@project.basedir@/target/classes/static/medias'
      mediasUrlPattern: ${BEDETHEQUE_SCRAPER_MEDIAS_URL_PATTERN:/api/bedetheque-scraper/medias/**}
    authors:
      photo:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_AUTHORS_PHOTO_HD:@project.basedir@/target/classes/static/medias/bedetheque/authors/photo/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_AUTHORS_PHOTO_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/authors/photo/thumbs/}
    graphic-novels:
      cover-back:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_BACK_HD:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/cover-back/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_BACK_THUMBS:@project.basedir@/target/classes/medias/bedetheque/static/graphic-novels/cover-back/thumbs/}
      cover-front:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_FRONT_HD:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/cover-front/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_FRONT_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/cover-front/thumbs/}
      page-example:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_PAGE_EXAMPLE_HD:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/page-example/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_PAGE_EXAMPLE_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/page-example/thumbs/}
    series:
      cover-front:
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_COVER_FRONT_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/series/cover-front/thumbs/}
      page-example:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_PAGE_EXAMPLE_HD:@project.basedir@/target/classes/static/medias/bedetheque/series/page-example/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_PAGE_EXAMPLE_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/series/page-example/thumbs/}
    user:
      avatar:
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_RATINGS_AVATARS:@project.basedir@/target/classes/static/medias/bedetheque/ratings/avatar/}
  http:
    medias:
      authors:
        photo:
          hd: http://localhost:8091/medias/bedetheque/authors/photo/hd/
          thumbs: http://localhost:8091/medias/bedetheque/authors/photo/thumbs/
      default:
        unavailable: http://localhost:8091/images/na.png
      graphic-novels:
        cover-back:
          hd: http://localhost:8091/medias/bedetheque/graphic-novels/cover-back/hd/
          thumbs: http://localhost:8091/medias/bedetheque/graphic-novels/cover-back/thumbs/
        cover-front:
          hd: http://localhost:8091/medias/bedetheque/graphic-novels/cover-front/hd/
          thumbs: http://localhost:8091/medias/bedetheque/graphic-novels/cover-front/thumbs/
        page-example:
          hd: http://localhost:8091/medias/bedetheque/graphic-novels/page-example/hd/
          thumbs: http://localhost:8091/medias/bedetheque/graphic-novels/page-example/thumbs/
      series:
        cover-front:
          thumbs: http://localhost:8091/medias/bedetheque/series/cover-front/thumbs/
        page-example:
          hd: http://localhost:8091/medias/bedetheque/series/page-example/hd/
          thumbs: http://localhost:8091/medias/bedetheque/series/page-example/thumbs/
      user:
        avatar:
          thumbs: http://localhost:8091/medias/bedetheque/ratings/avatar/
  lang:
    accepted_languages: en
    defaultLanguage: en
  logging:
    trace:
      response:
        active: false
    web: false
  scraping:
    latency: 1

bedetheque:
  url:
    author:
      prefix: https://www.bedetheque.com/auteur-
    authors:
      index-by-letter: https://www.bedetheque.com/liste_auteurs_BD_0.html
    home: https://www.bedetheque.com
    search:
      authors: https://www.bedetheque.com/ajax/auteurs
      categories: https://www.bedetheque.com/ajax/styles
      collections: https://www.bedetheque.com/ajax/collections
      global: https://www.bedetheque.com/search/tout
      graphic-novels: https://www.bedetheque.com/search/albums
      publishers: https://www.bedetheque.com/ajax/editeurs
      series: https://www.bedetheque.com/ajax/series
    serie:
      prefix: https://www.bedetheque.com/serie-
    series:
      index-by-letter: https://www.bedetheque.com/bandes_dessinees_%s.html

server:
  port: 8091