application:
  description: An API to scrap metadatas from the website http://www.bedetheque.com
  downloads:
    localcache:
      active: ${BEDETHEQUE_SCRAPER_CACHE_ACTIVE:false}
      basepath: ${BEDETHEQUE_SCRAPER_SHARED_STORAGE_PATH:/mnt/shared/comix/dev/medias/bedetheque}
      mediasUrlPattern: ${BEDETHEQUE_SCRAPER_MEDIAS_URL_PATTERN:/api/bedetheque-scraper/medias/**}
    authors:
      photo:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_AUTHORS_PHOTO_HD:@project.basedir@/target/classes/static/medias/bedetheque/authors/photo/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_AUTHORS_PHOTO_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/authors/photo/thumbs/}
    graphic-novels:
      cover-back:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_BACK_HD:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/cover-back/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_BACK_THUMBS:@project.basedir@/target/classes/medias/bedetheque/static/graphic-novels/cover-back/thumbs/}
      cover-front:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_FRONT_HD:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/cover-front/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_COVER_FRONT_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/cover-front/thumbs/}
      page-example:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_PAGE_EXAMPLE_HD:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/page-example/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_GRAPHIC_NOVELS_PAGE_EXAMPLE_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/graphic-novels/page-example/thumbs/}
    series:
      cover-front:
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_COVER_FRONT_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/series/cover-front/thumbs/}
      page-example:
        hd: ${BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_PAGE_EXAMPLE_HD:@project.basedir@/target/classes/static/medias/bedetheque/series/page-example/hd/}
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_SERIES_PAGE_EXAMPLE_THUMBS:@project.basedir@/target/classes/static/medias/bedetheque/series/page-example/thumbs/}
    user:
      avatar:
        thumbs: ${BEDETHEQUE_SCRAPER_DOWNLOADS_RATINGS_AVATARS:@project.basedir@/target/classes/static/medias/bedetheque/ratings/avatar/}
  http:
    medias:
      authors:
        photo:
          hd: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_AUTHORS_PHOTO_HD:https://bedetheque-scraper.home.lab/authors/photo/hd/}
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_AUTHORS_PHOTO_THUMBS:https://bedetheque-scraper.home.lab/authors/photo/thumbs/}
      default:
        unavailable: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_DEFAULT_UNAVAILABLE:https://bedetheque-scraper.home.lab/images/na.png}
      graphic-novels:
        cover-back:
          hd: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_BACK_HD:https://bedetheque-scraper.home.lab/graphic-novels/cover-back/hd/}
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_BACK_THUMBS:https://bedetheque-scraper.home.lab/graphic-novels/cover-back/thumbs/}
        cover-front:
          hd: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_FRONT_HD:https://bedetheque-scraper.home.lab/graphic-novels/cover-front/hd/}
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_COVER_FRONT_THUMBS:https://bedetheque-scraper.home.lab/graphic-novels/cover-front/thumbs/}
        page-example:
          hd: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_PAGE_EXAMPLE_HD:https://bedetheque-scraper.home.lab/graphic-novels/page-example/hd/}
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_GRAPHIC_NOVELS_PAGE_EXAMPLE_THUMBS:https://bedetheque-scraper.home.lab/graphic-novels/page-example/thumbs/}
      series:
        cover-front:
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_SERIES_COVER_FRONT_THUMBS:https://bedetheque-scraper.home.lab/series/cover-front/thumbs/}
        page-example:
          hd: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_SERIES_PAGE_EXAMPLE_HD:https://bedetheque-scraper.home.lab/series/page-example/hd/}
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_SERIES_PAGE_EXAMPLE_THUMBS:https://bedetheque-scraper.home.lab/series/page-example/thumbs/}
      user:
        avatar:
          thumbs: ${BEDETHEQUE_SCRAPER_HTTP_MEDIAS_RATINGS_AVATARS:https://bedetheque-scraper.home.lab/ratings/avatar/}
  lang:
    accepted_languages: en
    defaultLanguage: en
  logging:
    trace:
      response:
        active: false
    web: false
  maven:
    version: '@project.version@'
  name: comix-bedetheque-scraper-service
  scraping:
    latency: 1
bedetheque:
  url:
    author:
      prefix: https://www.bedetheque.com/auteur-
    authors:
      index-by-letter: https://www.bedetheque.com/liste_auteurs_BD_0.html
    home: https://www.bedetheque.com
    search:
      authors: https://www.bedetheque.com/ajax/auteurs
      categories: https://www.bedetheque.com/ajax/styles
      collections: https://www.bedetheque.com/ajax/collections
      global: https://www.bedetheque.com/search/tout
      graphic-novels: https://www.bedetheque.com/search/albums
      publishers: https://www.bedetheque.com/ajax/editeurs
      series: https://www.bedetheque.com/ajax/series
    serie:
      prefix: https://www.bedetheque.com/serie-
    series:
      index-by-letter: https://www.bedetheque.com/bandes_dessinees_%s.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh,busrefresh,liveness,readiness
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

spring:
  application:
    name: comix-bedetheque-scraper-service
  jackson:
    default-property-inclusion: non_null
  mustache:
    check-template-location: false
  rabbitmq:
    host: ${BEDETHEQUE_SCRAPER_RABBITMQ_HOST:localhost}
    port: ${BEDETHEQUE_SCRAPER_RABBITMQ_PORT:5672}
    username: ${BEDETHEQUE_SCRAPER_RABBITMQ_USERNAME:dev}
    password: ${BEDETHEQUE_SCRAPER_RABBITMQ_PASSWORD:dev}
  datasource:
    url: ${BEDETHEQUE_SCRAPER_DB_URL:jdbc:postgresql://localhost:5432/comix?currentSchema=bedetheque_scraper}
    username: ${BEDETHEQUE_SCRAPER_DB_USERNAME:dev}
    password: ${BEDETHEQUE_SCRAPER_DB_PASSWORD:dev}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  liquibase:
    change-log: classpath:db/master.xml
    enabled: ${BEDETHEQUE_SCRAPER_LIQUIBASE_ENABLED:true}
    default-schema: ${BEDETHEQUE_SCRAPER_LIQUIBASE_SCHEMA:bedetheque_scraper}
amqp:
  queue:
    author:
      name: ${AMQP_QUEUE_AUTHOR_NAME:comix.author.synchronize}
    comicBook:
      name: ${AMQP_QUEUE_COMIC_NAME:comix.comic-book.synchronize}
    serie:
      name: ${AMQP_QUEUE_SERIE_NAME:comix.serie.synchronize}
  exchange:
    author:
      name: ${AMQP_EXCHANGE_AUTHOR_NAME:comix.author.exchange}
    comicBook:
      name: ${AMQP_EXCHANGE_COMIC_NAME:comix.comic-book.exchange}
    serie:
      name: ${AMQP_EXCHANGE_SERIE_NAME:comix.serie.exchange}
producer:
  retry:
    max-attempts: ${BEDETHEQUE_SCRAPER_MAX_ATTEMPTS:3}
    initial-interval: ${BEDETHEQUE_SCRAPER_INITIAL_INTERVAL:500}
    max-interval: ${BEDETHEQUE_SCRAPER_MAX_INTERVAL:10000}
    multiplier: ${BEDETHEQUE_SCRAPER_MULTIPLIER:2.0}
outbox:
  publisher:
    fixed-delay: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_FIXED_DELAY:10000}
    lock-at-least-for: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_LOCK_AT_LEAST_FOR:PT5S}
    lock-at-most-for: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_LOCK_AT_MOST_FOR:PT5S}
    enabled: ${BEDETHEQUE_SCRAPER_OUTBOX_PUBLISHER_ENABLED:true}
---
spring.config.activate.on-profile: "dev-docker-hybrid"
spring:
  config:
    import: "optional:configserver:http://localhost:18888"
---
spring.config.activate.on-profile: "int"
spring:
  config:
    import: "optional:configserver:http://comix-config-server:18888"
---
spring.config.activate.on-profile: "stage"
spring:
  config:
    import: optional:configserver:http://${SPRING_CLOUD_CONFIG_URI}
---
spring.config.activate.on-profile: "prod"
spring:
  config:
    import: optional:configserver:http://${SPRING_CLOUD_CONFIG_URI}