<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Add default SpringBoot Console appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="unknown-service"/>
    <springProperty scope="context" name="SPRING_PROFILES_ACTIVE" source="spring.profiles.active" defaultValue="default"/>
    <springProperty scope="context" name="LOGSTASH_URL" source="logging.logstash.url" defaultValue="localhost"/>
    <springProperty scope="context" name="LOGSTASH_PORT" source="logging.logstash.port" defaultValue="5000"/>

    <springProfile name="!dev &amp; !int &amp; !dev-docker-hybrid">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_URL}:${LOGSTASH_PORT}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <pattern>
                        <pattern>
                            {
                            "severity": "%level",
                            "service": "${APP_NAME}",
                            "trace_id": "%X{traceId:-}",
                            "span_id": "%X{spanId:-}",
                            "pid": "${PID:-}",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "rest": "%message",
                            "app": "comix",
                            "env": "${SPRING_PROFILES_ACTIVE}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <!-- LOG everything at INFO level -->
        <root level="info">
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="dev | int | dev-docker-hybrid">
        <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
        <!-- LOG everything at INFO level -->
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>